asgiref==3.5.2
distlib==0.3.5
dj-database-url==1.0.0
Django==4.1
filelock==3.8.0
gunicorn==20.1.0
platformdirs==2.5.2
psycopg2-binary==2.9.3
sqlparse==0.4.2
tzdata==2022.2
virtualenv==20.16.3
virtualenvwrapper-win==1.2.7
whitenoise==6.2.0
